@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-color: rgb(12, 165, 196);
  /* align-items: center; */
  justify-content: center;
  /* background-color:  turquoise; */
  /* background-color: aquamarine; */
}